<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Início</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/inserir">Inserir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calcular">Calcular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exibir">Exibir</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
