<% title = 'Página Inicial'; %>
<% include('partials/header'); %>

<br>
<br>
<br>
<br>
<h1 class="mt-3">Bem-vindo ao Sistema de Gestão de Itens</h1>
<p>Use a barra de navegação para acessar as diferentes funcionalidades.</p>
<% include('partials/footer'); %>